.mainpage{
    background-color: #E3E7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome{
    background-color: #CDCFCF;
    width: 80%;
    margin: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome >p{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
}
.last{
    background-color: #AEB0B0;
    width: 70%;
    margin: 4px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    visibility:visible;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s ease-in .2s;
    transition: .6s ease-in .2s; */
}
.last >p{
border-radius: 20px;
width: 90%;
margin-top: 25px;
background-color: #9AA0A1;
font-weight: bold;
}
.image{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
img{
    border-radius: 30px;
    height: 250px;
    /* position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition:0s;
    transition:0s; */
}

